{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" type="text/css" href="{% static 'escape/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/game.css' %}">
{% endblock css_files %}

{% block js_files %}
    <script type="text/javascript" src="{% static 'escape/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'escape/vendor/paper/paper-full.min.js' %}"></script>
    <script src="{% static 'js/game.js' %}"></script>
{% endblock js_files %}

{% block body %}

    <div class="bg-img">

        <main>

            <div class="title">
                <h2 class='text-center'> Solve the Riddle </h2>
                <div class="text-center">
                    <button class='btn btn-primary'>Solve!</button>
                </div>  
            </div>

            <div class="attempt text-center">
                <span>
                    <svg class='lock' xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                    </svg>
                </span>
                <span>
                    <svg class='lock' xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                    </svg>
                </span>
                <span>
                    <svg class='lock' xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                    </svg>
                </span>
                <span>
                    <svg class='lock' xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                    </svg>
                </span>
                <span>
                    <svg class='lock' xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                    </svg>
                </span>
            </div>

            <div class="riddle text-center mt-4">
                <p>“If you break me, I’ll not stop working.</p>
                <p>If you can touch me, my work is done. </p>  
                <p>If you lose me, you must find me with a ring soon after. What am I?”</p>
                <p>– “Wizard and Glass” by Stephen King</p>
            </div>

            
        
        </main>

    </div>     

{% endblock body %}
    
       
        
    
