{% load static %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Escape in Time</title>
    <link rel="shortcut icon" href="#">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'css/individualGameScreen.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  
    <script src="{% static 'js/game.js' %}"></script>

    {% comment %} fonts {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <script>

        

        $(function () {
			$(".dragDomino").draggable({
				revert : function(event, ui) {

					$(this).data("ui-draggable").originalPosition = {
						top : 0,
						left : 0
					};
					return !event;
				}
			})
            
			$("#targetArea").droppable({
					classes: {
						"ui-droppable-hover": "ui-state-hover"
					},
                    
                    // NOTE: DRAGS DOMINOS BACK 
					accept: ".dragDomino",
					activeClass: "ui-state-highlight",
					drop: function( event, ui ) {
                        
                        // $(this).css('background-color', 'blue')
                        let id = $(ui.draggable).attr('id')
                        let queryString = "#" + id + " > p:nth-child(2)" 

                        let letter = document.querySelector(queryString).textContent;
                        socket.send("{ \"letter\" : \"" + letter + "\" }");
                        
					}
				});
			});

        </script>
    
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Escape in Time</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                
                
            </ul>
            
            </div>
        </div>
    </nav>
    
    <div class="bg-img">
        <main>
            <div id="dominosContainer">

                <div id="targetArea" class="targetArea mb-3">
            
                    <h1 class='title-text'>DROP HERE & DRAG OUT</h1>

                </div>

                {% comment %} ROW 1  {% endcomment %}
                <div class="domino-container">

                    {% for d in range %}
                        <div class="col-3">
                            {% if num|get_item:d|divisibleby:4 %}
                                <div class="domino reds ui-widget-content dragDomino" id="domino{{d}}">
                                    <p class="top">{{num|get_item:d}}</p>
                                    {% if num|get_item:d|divisibleby:2 %}
                                        <p><span class='circle'>{{letter|get_item:d}}</span></p>
                                    {% else %}
                                        <p><span>{{letter|get_item:d}}</span></p>
                                    {% endif %}
                                </div>
                            {% elif num|get_item:d|divisibleby:5%}
                                <div class="domino blues ui-widget-content dragDomino" id="domino{{d}}">
                                    <p class="top">{{num|get_item:d}}</p>
                                    {% if num|get_item:d|divisibleby:2 %}
                                        <p><span class='circle'>{{letter|get_item:d}}</span></p>
                                    {% else %}
                                        <p><span>{{letter|get_item:d}}</span></p>
                                    {% endif %}
                                </div>
                            {% elif num|get_item:d|divisibleby:6%}
                                <div class="domino yellows ui-widget-content dragDomino" id="domino{{d}}">
                                    <p class="top">{{num|get_item:d}}</p>
                                    {% if num|get_item:d|divisibleby:2 %}
                                        <p><span class='circle'>{{letter|get_item:d}}</span></p>
                                    {% else %}
                                        <p><span>{{letter|get_item:d}}</span></p>
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="domino ui-widget-content dragDomino" id="domino{{d}}">
                                    <p class="top">{{num|get_item:d}}</p>
                                    {% if num|get_item:d|divisibleby:2 %}
                                        <p><span class='circle'>{{letter|get_item:d}}</span></p>
                                    {% else %}
                                        <p><span>{{letter|get_item:d}}</span></p>
                                    {% endif %}
                                </div>

                            {% endif %}
                        </div>
                    {% endfor %}

                        
                        
                </div>
        </main>
        
    </div>

     <footer class='footer bg-dark pb-3 pt-3 sticky'>
        <div class="container-fluid text-muted">
            <span>&copy;Eric & Erin 2021</span>
        </div>
    </footer>

    {% comment %} js files  {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>    

</body>


</html>
