{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock css_files %}

{% block js_files %}
    <script src="{% static 'js/login.js' %}"></script>
{% endblock js_files %}

{% block body %}

    <div class="bg-img">
        <main>
            <div class="header">
                <h1 class='text-center' >Waiting for Users...</h1>
                <div class="" style='text-align: center'>
                    <button class='btn btn-primary' >Ready!</button>
                </div>
            </div>
            <ul id='users'></ul>
        
        </main>
    </div>

{% endblock body %}