
.bg-img {
    height: 100%;
    width: 100%;
        
    background-size: cover;
    /* background-position: 50% 50%; */
    background-image: url('https://app.waiverelectronic.com//images/background/walls_rocks.jpg');

    position: relative;
    overflow-y: auto;

}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 4rem;
}

.level {
    margin-top: 3rem;
    margin-left: 3rem;
    margin-bottom: -2rem;
}



.title, .riddle {
    margin-top: 5rem;

    width: 40%;
    
    font-family: 'Comfortaa', sans-serif;

    background-color:  rgba(255,255,255, 0.5);
    border-radius: 12px;
    padding: 2rem 1rem 1rem 1rem;
    margin-left: 3rem;
}

h2 {
    font-size: 40px;
}

.riddle {
    font-size: 35px;
}

.attempt {
    /* border-bottom: 2px solid black; */
    margin: 3rem 0 3rem 3rem;
    font-size: 50px;
}

.attempt > span {
    border-bottom: 2px solid black;
}

.lock {
    width: 40px;
    height: 40px;
}

#time-display {
    font-size: 30px;
}

.gameover, .gamecomplete {
    display: none;
}

.gameover-on, .gamecomplete-on {
    width: 25rem;
    height: 25rem;

    position: absolute;
    top: 55%;
    left: 51%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}


.inner-text {
    text-align: center;
}

.gameover-title {
    font-size: 50px;
}

.gameover-text {
    font-size: 25px;
}
