.bg-img {
    height: 100%;
    width: 100%;
        
    background-size: cover;
    /* background-position: 50% 50%; */
    background-image: url('https://wallpaperchat.com/walls/full/a/f/8/2026566.jpg');

    position: relative;
    overflow-y: auto;

}

main {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */

    margin-top: 2rem;
}


/* ERIN STYLE  */


.targetArea {
    width: 50%;
    height: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 2px solid black; */

    font-family: 'Comfortaa', sans-serif;

    background-color:  #fefae0;
    border: 2px dashed black;
    color: #000;
    border-radius: 12px;
}

.title-text {
    font-size: 1.5rem;
}

#dominosContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.domino-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
    margin-bottom: 2rem;
}

/*Class selector*/
.domino {
    display: inline-block;
    height: 100px;
    width: 60px;

    font-size: 25px;
    font-family: 'Abril Fatface';

    background-color: rgb(240, 240, 240);
    box-shadow: 0 4px 4px rgba(0,0,0,0.50);
    border-radius: 2px;
    position: relative;
}

/*CSS speudo element, to style a specific part of the element*/
.domino::after {
    content: "";
    background-color: black;
    height: 1px;
    width: 50px;
    position: absolute;
    top: 50px;
    left: 4px;
}

/*Class + element*/
.domino p {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reds{
    background-color: #ae2012;
}

.blues{
    background-color: #1e6091;
}

.yellows{
    background-color: #ffbe0b;
}
.greens {
    background-color: rgb(117, 133, 117) ;
}

.ui-over.dragDomino {
    background: grey !important;
}
.ui-over.dragDomino.correct {
    background-color: green !important;
}

.circle {
    border: 1px solid black;
    border-radius: 50% 50%;
    padding-left: 10px;
    padding-right: 10px;
}